#update-btns {
  position: absolute;
  left:20px;
  right:20px;
  bottom:35px;
}

#update-btns .btn {
  font-weight:bold;
  position: absolute;
  bottom:0px;
}

#refresh-btn {
  left:0;
  right:50px;
  width:auto;
}

#locate-btn {
  right:0;
}