#refresh-btn {
  position: absolute;
  bottom: 35px;
  font-size:20px;
  font-weight:bold;

  width:400px;
  left:50%;
  margin-left:-200px;
}

@media (max-width: 767px) {
  #refresh-btn {
    left:20px;
    right:20px;
    width:auto;
    margin-left:0;
  }
}